<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.AssetTagMapper">
    <sql id="column">
        id,asset_id assetId,tag,status,time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertAssetTag" useGeneratedKeys="true" keyProperty="id" parameterType="cn.migu.cresset.backend.dataobject.AssetTagDO">
        insert into cresset_asset_tags (asset_id,tag,status)
        values (#{assetId},#{tag},#{status})
    </insert>

    <update id="updateAssetTag" parameterType="cn.migu.cresset.backend.dataobject.AssetTagDO">
        update cresset_asset_tags
        <set>
            <if test="assetId != null">
                asset_id = #{assetId},
            </if>
            <if test="tag != null">
                tag = #{tag},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteAssetTagByAssetId" parameterType="java.lang.Integer">
        delete from cresset_asset_tags where asset_id = #{assetId}
    </delete>

    <select id="selectAssetTagByAssetId" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.AssetTagDO">
        select
        <include refid="column"/>
        from cresset_asset_tags
        where
        asset_id = #{assetId}
    </select>
</mapper>