<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.BackgroundMapper">
    <sql id="column">
        background_id backgroundId,name,width,height,path,color_system colorSystem,memo,time_created timeCreated,time_modified timeModified
    </sql>

    <select id="selectBackgroundListByColorSystem" parameterType="java.lang.String" resultType="cn.migu.cresset.backend.dataobject.BackgroundDO">
        select
        <include refid="column"/>
        from cresset_backgrounds
        <if test="colorSystem != null">
            where
            color_system = #{colorSystem}
        </if>
    </select>

    <select id="selectBackgroundById" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.BackgroundDO">
        select
        <include refid="column"/>
        from cresset_backgrounds
        where background_id = #{backgroundId}
    </select>

    <delete id="deleteBackgroundById" parameterType="java.lang.Integer">
        delete from cresset_backgrounds where background_id = #{backgroundId}
    </delete>

    <update id="updateBackground" parameterType="cn.migu.cresset.backend.dataobject.BackgroundDO">
        update cresset_backgrounds
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="width != null">
                width = #{width},
            </if>
            <if test="height != null">
                height = #{height},
            </if>
            <if test="path != null">
                path = #{path},
            </if>
            <if test="colorSystem != null">
                color_system = #{colorSystem},
            </if>
            <if test="memo != null">
                memo = #{memo},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            background_id = #{backgroundId}
        </where>
    </update>
    <insert id="insertBackground" useGeneratedKeys="true" keyProperty="backgroundId" parameterType="cn.migu.cresset.backend.dataobject.BackgroundDO">
        insert into cresset_backgrounds(name,width,height,path,color_system,memo,time_created)
        values
        (#{name},#{width},#{height},#{path},#{colorSystem},#{memo},#{timeCreated})
    </insert>

    <select id="selectBackgroundColorSystem" resultType="java.lang.String">
        select distinct color_system from cresset_backgrounds order by color_system asc
    </select>
</mapper>