<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.FontMapper">
    <sql id="column">
        font_id fontId,family,stretch,style,weight,path,image,
        active_image activeImage,hover_image hoverImage,status,
        time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertFont" useGeneratedKeys="true" keyProperty="fontId"
            parameterType="cn.migu.cresset.backend.dataobject.FontDO">
        insert into cresset_fonts (family,stretch,style,weight,path,image,active_image,hover_image,status,time_created)
        values (#{family},#{stretch},#{style},#{weight},#{path},#{image},#{activeImage},#{hoverImage},#{status},#{timeCreated})
    </insert>

    <select id="selectFontById" parameterType="java.lang.Integer"
            resultType="cn.migu.cresset.backend.dataobject.FontDO">
        select
        <include refid="column"/>
        from cresset_fonts
        where font_id = #{fontId}
    </select>

    <select id="selectFontListByStatus" parameterType="java.lang.Integer"
            resultType="cn.migu.cresset.backend.dataobject.FontDO">
        select
        <include refid="column"/>
        from cresset_fonts
        <if test="status.length > 0">
            where status in
            <foreach collection="status" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <update id="updateFont" parameterType="cn.migu.cresset.backend.dataobject.FontDO">
        update cresset_fonts
        <set>
            <if test="family != null">
                family = #{family},
            </if>
            <if test="stretch != null">
                stretch = #{stretch},
            </if>
            <if test="style != null">
                style = #{style},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="path != null">
                path = #{path},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="activeImage != null">
                active_image = #{activeImage},
            </if>
            <if test="hoverImage != null">
                hover_image = #{hoverImage},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            font_id = #{fontId}
        </where>
    </update>

    <delete id="deleteFont" parameterType="java.lang.Integer">
        delete from cresset_fonts where font_id = #{fontId}
    </delete>

    <select id="selectFontFamily" parameterType="java.lang.String" resultType="java.lang.String">
        select family from cresset_fonts where family = #{family}
    </select>
</mapper>