<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.ImageConversionMapper">
    <sql id="column">
        id,image_id imageId,status,time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertImageConversion" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.migu.cresset.backend.dataobject.ImageConversionDO">
        insert into cresset_image_conversions(image_id,status,time_created)
        values (#{imageId},#{status},#{timeCreated})
    </insert>

    <select id="selectImageConversionById" parameterType="java.lang.Integer"
            resultType="cn.migu.cresset.backend.dataobject.ImageConversionDO">
        select
        <include refid="column"/>
        from cresset_image_conversions where id = #{id}
    </select>

    <select id="selectImageConversionListByStatus" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.ImageConversionDO">
        select
        <include refid="column"/>
        from cresset_image_conversions
        <if test="status.length > 0">
            where status in
            <foreach collection="status" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getImageConversionListByImageId" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.ImageConversionDO">
        select
        <include refid="column"/>
        from cresset_image_conversions
        where image_id = #{imageId}
    </select>


    <update id="updateImageConversion" parameterType="cn.migu.cresset.backend.dataobject.ImageConversionDO">
        update cresset_image_conversions
        <set>
            <if test="imageId != null">
                image_id = #{imageId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteImageConversionById" parameterType="java.lang.Integer">
        delete from cresset_image_conversions where id = #{id}
    </delete>
</mapper>