<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.ProjectTemplateMapper">
    <sql id="column">
        entity_id entityId,template_id templateId,time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertProjectTemplate" useGeneratedKeys="true" parameterType="cn.migu.cresset.backend.dataobject.ProjectTemplateDO">
        insert into cresset_project_templates (entity_id,template_id,time_created) values (#{entityId},#{templateId},#{timeCreated})
    </insert>

    <update id="updateProjectTemplate" parameterType="java.lang.Integer">
        update cresset_project_templates
        <set>
            <if test="templateId != null">
                template_id = #{templateId},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            entity_id = #{entityId}
        </where>
    </update>

    <select id="selectProjectTemplateById" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.ProjectTemplateDO">
        select
        <include refid="column"/>
        from cresset_project_templates
        where entity_id = #{entityId}
    </select>

    <select id="getEntityIdListByTemplateId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select entity_id from cresset_project_templates where template_id = #{templateId}
    </select>

    <delete id="deleteProjectTemplateByTemplateId" parameterType="java.lang.Integer">
        delete from cresset_project_templates where template_id = #{templateId}
    </delete>

</mapper>