<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.ProjectImageMapper">
    <sql id="column">
        image_id imageId,entity_id entityId,sub_id subId,filename,width,filename_pattern filenamePattern,
        height,optim,quality,size,original_uri originalUri,original_filesize originalFilesize,
        uri,filesize,status,time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertProjectImage" useGeneratedKeys="true" keyProperty="imageId"
            parameterType="cn.migu.cresset.backend.dataobject.ProjectImageDO">
        insert into cresset_project_images (entity_id,sub_id,filename,width,filename_pattern,height,optim,quality,size,original_uri,original_filesize,uri,status,time_created)
        values (#{entityId},#{subId},#{filename},#{width},#{filenamePattern},#{height},#{optim},#{quality},#{size},#{originalUri},#{originalFilesize},#{uri},#{status},#{timeCreated})
    </insert>

    <select id="selectProjectImageById" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.ProjectImageDO">
        select
        <include refid="column"/>
        from cresset_project_images
        where image_id = #{imageId}
    </select>

    <select id="selectProjectImageListByEntityIdList" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.ProjectImageDO">
        select
        <include refid="column"/>
        from cresset_project_images
        where status != 7
        <if test="list.size() > 0">
            and entity_id in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectProjectImageListByStatus" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.ProjectImageDO">
        select
        <include refid="column"/>
        from cresset_project_images
        <if test="status.length > 0">
            where status in
            <foreach collection="status" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <update id="updateProjectImage" parameterType="cn.migu.cresset.backend.dataobject.ProjectImageDO">
        update cresset_project_images
        <set>
            <if test="entityId != null">
                entity_id = #{entityId},
            </if>
            <if test="subId != null">
                sub_id = #{subId},
            </if>
            <if test="filename != null">
                filename = #{filename},
            </if>
            <if test="width != null">
                width = #{width},
            </if>
            <if test="filenamePattern != null">
                filename_pattern = #{filenamePattern},
            </if>
            <if test="height != null">
                height = #{height},
            </if>
            <if test="optim != null">
                optim = #{optim},
            </if>
            <if test="quality != null">
                quality = #{quality},
            </if>
            <if test="size != null">
                size = #{size},
            </if>
            <if test="originalUri != null">
                original_uri = #{originalUri},
            </if>
            <if test="uri != null">
                uri = #{uri},
            </if>
            <if test="filesize != null">
                filesize = #{filesize},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            image_id = #{imageId}
        </where>
    </update>

    <delete id="deleteProjectImage" parameterType="java.lang.Integer">
        delete from cresset_project_images where image_id = #{imageId}
    </delete>
</mapper>