<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.ProjectSuperImageMapper">
    <sql id="column">
        entity_id entityId,super_image_id superImageId,time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertProjectSuperImage" useGeneratedKeys="true" parameterType="cn.migu.cresset.backend.dataobject.ProjectSuperImageDO">
        insert into cresset_project_super_images (entity_id,super_image_id,time_created) values (#{entityId},#{superImageId},#{timeCreated})
    </insert>

    <update id="updateProjectSuperImage" parameterType="java.lang.Integer">
        update cresset_project_super_images
        <set>
            <if test="superImageId != null">
                super_image_id = #{superImageId},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            entity_id = #{entityId}
        </where>
    </update>

    <select id="selectProjectSuperImageById" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.ProjectSuperImageDO">
        select
        <include refid="column"/>
        from cresset_project_super_images
        where entity_id = #{entityId}
    </select>
</mapper>