<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.ProjectEntityMapper">

    <sql id="column">
        entity_id entityId,project_id projectId,entity_type entityTypeEm,time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertProjectEntity" useGeneratedKeys="true" keyProperty="entityId"
            parameterType="cn.migu.cresset.backend.dataobject.ProjectEntityDO">
        insert into cresset_project_entities (project_id,entity_type,time_created) values (#{projectId},#{entityTypeEm},#{timeCreated});
    </insert>

    <update id="updateProjectEntity" parameterType="cn.migu.cresset.backend.dataobject.ProjectEntityDO">
        update cresset_project_entities
        <set>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="entityTypeEm != null">
                entity_type = #{entityTypeEm},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            entity_id = #{entityId}
        </where>
    </update>

    <select id="selectProjectEntityById" resultType="cn.migu.cresset.backend.dataobject.ProjectEntityDO" parameterType="java.lang.Integer">
        select
        <include refid="column"/>
        from cresset_project_entities
        where entity_id = #{entityId}
    </select>

    <select id="selectProjectEntityByProjectId" resultType="cn.migu.cresset.backend.dataobject.ProjectEntityDO" parameterType="java.lang.Integer">
        select
        <include refid="column"/>
        from cresset_project_entities
        where project_id = #{projectId}
    </select>

    <update id="deleteProjectEntityById" parameterType="java.lang.Integer">
        delete from cresset_project_entities where entity_id = #{entityId}
    </update>

    <update id="deleteProjectEntityByIdList" parameterType="java.lang.Integer">
        delete from cresset_project_entities where entity_id in
        <if test="entityIdList.size() > 0">
            <foreach collection="entityIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </update>
</mapper>