<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.SubImageTagMapper">
    <sql id="column">
        id,sub_image_id subImageId,tag,status,time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertSubImageTag" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.migu.cresset.backend.dataobject.SubImageTagDO">
        insert into cresset_sub_image_tags (sub_image_id,tag,status,time_created)
        values (#{subImageId},#{tag},#{status},#{timeCreated})
    </insert>

    <insert id="insertSubImageTagList" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.migu.cresset.backend.dataobject.SubImageTagDO">
        insert into cresset_sub_image_tags (sub_image_id,tag,status,time_created,time_modified)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.subImageId},
            #{item.tag},
            0,
            now(),
            now()
            )
        </foreach>
    </insert>

    <update id="updateSubImageTag" parameterType="cn.migu.cresset.backend.dataobject.SubImageTagDO">
        update cresset_sub_image_tags
        <set>
            <if test="subImageId != null">
                sub_image_id = #{subImageId},
            </if>
            <if test="tag != null">
                tag = #{tag},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectSubImageTagById" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.SubImageTagDO">
        select
        <include refid="column"/>
        from cresset_sub_image_tags
        where id = #{id}
    </select>

    <select id="selectSubImageTagListBySubImageId" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.SubImageTagDO">
        select
        <include refid="column"/>
        from cresset_sub_image_tags
        where status != 7
        and sub_image_id = #{subImageId}
    </select>

    <delete id="deleteSubImageTagById" parameterType="java.lang.Integer">
        delete from cresset_sub_image_tags where id = #{id}
    </delete>

    <delete id="deleteSubImageTagBySubImageId" parameterType="java.lang.Integer">
        delete from cresset_sub_image_tags where sub_image_id = #{subImageId}
    </delete>

    <delete id="delTagBySubImageIdAndTagList">
        delete from cresset_sub_image_tags where sub_image_id = #{subImageId}
        and tag in
        <foreach collection="tagList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

</mapper>