<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.SuperImageMapper">
    <sql id="column">
        super_image_id superImageId,name,width,height,status,time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertSuperImage" useGeneratedKeys="true" keyProperty="superImageId"
            parameterType="cn.migu.cresset.backend.dataobject.SuperImageDO">
        insert into cresset_super_images (name,height,width,status,time_created,time_modified) values
        (#{name},#{height},#{width},0,now(),now())
    </insert>

    <update id="updateSuperImage" parameterType="cn.migu.cresset.backend.dataobject.SuperImageDO">
        update cresset_super_images
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="width != null">
                width = #{width},
            </if>
            <if test="height != null">
                height = #{height},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            time_modified = now()
        </set>
        <where>
            super_image_id = #{superImageId}
        </where>
    </update>

    <select id="selectSuperImageByIds" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.SuperImageDO">
        select
        <include refid="column"/>
        from cresset_super_images
        where super_image_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        and status != 7
    </select>

    <select id="selectSuperImageList" resultType="cn.migu.cresset.backend.dataobject.SuperImageDO">
        select
        <include refid="column"/>
        from cresset_super_images
        where super_image_id > #{start}  and status != 7
        limit #{limit}
    </select>

    <select id="selectSuperImageListByDetail" resultType="cn.migu.cresset.backend.dataobject.SuperImageDO">
        select
        <include refid="column"/>
        from cresset_super_images
        where width= #{width} and height = #{height} and status != 7
    </select>


    <delete id="deleteSuperImageById" parameterType="java.lang.Integer">
        delete from cresset_super_images where super_image_id = #{superImageId}
    </delete>
</mapper>