<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.cresset.backend.mapper.TemplateTagMapper">
    <sql id="column">
        id,template_id templateId,tag,status,time_created timeCreated,time_modified timeModified
    </sql>

    <insert id="insertTemplateTag" useGeneratedKeys="true" keyProperty="id" parameterType="cn.migu.cresset.backend.dataobject.TemplateTagDO">
        insert into cresset_template_tags (template_id,tag,status,time_created)
        values (#{templateId},#{tag},#{status},#{timeCreated})
    </insert>

    <update id="updateTemplateTag" parameterType="cn.migu.cresset.backend.dataobject.TemplateTagDO">
        update cresset_template_tags
        <set>
            <if test="templateId != null">
                template_id = #{templateId},
            </if>
            <if test="tag != null">
                tag = #{tag},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            time_modified = #{timeModified}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectTemplateTagById" parameterType="java.lang.Integer" resultType="cn.migu.cresset.backend.dataobject.TemplateTagDO">
        select
        <include refid="column"/>
        from cresset_template_tags
        where id = #{id}
    </select>

    <select id="selectTemplateTagByTemplateId" resultType="cn.migu.cresset.backend.dataobject.TemplateTagDO">
        select
        <include refid="column"/>
        from cresset_template_tags
        where template_id = #{templateId}
        <if test="tags.length > 0">
            and tag in
            <foreach collection="tags" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>
    
    <delete id="deleteTemplateTag" parameterType="java.lang.Integer">
        delete from cresset_template_tags where id = #{id}
    </delete>

    <delete id="deleteTemplateTagByTemplateIdAndTag">
        delete from cresset_template_tags where template_id = #{templateId}
        and tag in
        <foreach collection="tags" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteTemplateTagByTemplateId">
        delete from cresset_template_tags where template_id = #{templateId}
    </delete>

    <select id="selectTemplateTags" resultType="java.lang.String">
        select distinct tag from cresset_template_tags order by tag asc
    </select>
</mapper>